{% extends 'copyfrom/main.html' %} {% load static %}
<hr />
{% load crispy_forms_tags %} {% block content %}
<title>Enter email to reset Password</title>
<div class="row">
    <div class="mx-auto" style="width: 450px">
        <form action="" method="post">
            {% csrf_token %}
            <h4>Reset Password</h4>
            <p>
                Forgot your password? No problem! 
                Enter your email below, and we'll 
                send you a link to reset your password.
            </p>
            {{form|crispy}}
            <input type="submit" value="Proceed" class="btn btn-primary" />
        </form>
    </div>
</div>
{% endblock %}