{% extends "copyfrom/main.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h4>Signin</h4>
        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-2">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" name="email" placeholder="Enter your email address">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-primary mt-3 mb-4">Login</button>
        </form>

        <div class="row text-center">
            <hr>
            <div class="col-lg-6">
                <a class="text-decoration-none" href="{% url 'signup' %}">Create an account...!</a>
            </div>
            <div class="col-lg-6">
                <a class="text-decoration-none" href="{% url 'reset_password' %}">Forgot Password...!</a>
            </div>

            <a class="py-3 text-decoration-none text-center" href="{% url 'password_reset' %}">Reset expired password</a>

        </div>
    </div>
</div>
{% endblock %}